:root {
    --color1: #BD1F21;
    --color2: #D02224;
    --color3: #DD2C2F;
    --color4: #E35053;
    --color5: #E66063;
    --color6: #EC8385;
    --color7: #F1A7A9;
    --color8: #F6CACC;
}

body {
    background-color: var(--color1);
    color: var(--color8);
}

.container {
    background-color: var(--color2);
    border-radius: 8px;
    padding: 20px;
}

.header {
    background-color: var(--color3);
    padding: 10px;
    border-radius: 8px;
}

.form-container, .result-container {
    background-color: var(--color4);
    padding: 20px;
    border-radius: 8px;
}

select, button {
    background-color: var(--color5);
    color: var(--color8);
    border: none;
    padding: 10px;
    border-radius: 8px;
}

button:hover {
    background-color: var(--color6);
}

ul {
    background-color: var(--color7);
    padding: 10px;
    border-radius: 8px;
}
body {
    background-color: #ffcccc; 
}

